    <ion-header-bar class="top">
      <h1 class="title">Home</h1>
    </ion-header-bar>
    <ion-content>
      <div class="row">
        <div class="col-25">
          <div class="card text-center">
            <img src="{{authData.facebook.profileImageURL}}" style="width: 50px; padding-top: 2px;">
          </div>
        </div>
        <div class="col-75" style="height: 100%;">
          <div class="card text-center" style="padding-top: 10px; padding-bottom: 9px;">
            Hello {{authData.facebook.displayName}},<br> here's your unique QR code!
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card text-center">
            <div style="padding-top: 7px;">
              <qr text="authData.facebook.id"></qr>
            </div>
          </div>
        </div>
      </div>
    </ion-content>